{% extends 'base.html' %}

{% block content %}
    <div class="row justify-content-start">
        <div class="col md-6">
            <h1>Select Team Form</h1>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.team1.label(class="form-control-label") }}
                    {{ form.team1(class="form-control") }}
                </div>
                <div>
                    {{ form.team2.label(class="form-control-label") }}
                    {{ form.team2(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class='btn btn-primary') }}
                </div>
            <form>
        </div>
    <div>
{% endblock %}
